{% extends "base.html" %} {% load static %} {% block body %}

<section id="action-plan">
    <h1 class='heading' style="font-size: 25px;">Brochure</h1>
    <a href="{{ brochure.SJLC_Brochure.url }}" download>Download</a>
    <h1 class='heading' style="font-size: 25px;">Ghar Ghar Babasaheb</h1>
    <a href="{% static '../media/download/ghar ghar babasaheb.pdf' %}" download>Download</a>
    <h1 class='heading' style="font-size: 25px;">Babsaheb Album</h1>
    <a href="{% static '../media/download/babasaheb album.pdf' %}" download>Download</a>
</section>


{% endblock body %}