{% extends "base.html" %} {% load static %} {% block head %}
<link rel="stylesheet" href="{% static 'css/mis.css' %}">
<title>Social Justice Legal Cell | MIS</title>
{% endblock head %} {% block body %}
<section class="mis">
    <form action="" method="post" name='RegForm'>
        {% csrf_token %} {% if error %}
        <div>
            <div class="mis_heading error">
                <ul>
                    {% for error_msg in error_msgs %}
                    <li><span>*</span>
                        <p>{{ error_msg }}</p>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        {% else %}
        <div>
            <div class="mis_heading help">
                <ul>
                    <li><span>*</span>
                        <p>Fill the form carefully.</p>
                    </li>
                    <li><span>*</span>
                        <p>After submitting your form, please send the transaction proof in the <b>Social Justice Legal Cell Core Group(Whatsapp)</b></p>
                    </li>
                    <li><span>*</span>
                        <p>As soon as your transaction proof is checked and your membership has been approved, your name will be listed in <a href="">Member List</a>.</p>
                    </li>
                    <li><span>*</span>
                        <p>If your name doesn't show up in the <a href="">Member List</a> under 1 week, then contact the following person.</p>
                    </li>
                    <li><span> <pre>   </pre> </span>
                        <p>7987734350</p>
                    </li>
                    <li>
                        <span> <pre>   </pre> </span>
                        <p>6261017911</p>
                    </li>
                    <li>
                        <span> <pre>   </pre> </span>
                        <p>9893455115</p>
                    </li>
                </ul>
            </div>
        </div>
        {% endif %}
        <div>
            <div class="mis_heading">
                Personal Details
            </div>
            <div>
                <label for="name">Name</label>
                <input type="text" name='name' required>
            </div>
            <div>
                <label for="g_name">Father\Husband name</label>
                <input type="text" name="g_name" required>
            </div>
            <div>
                <label for="dob">Date of Birth</label>
                <input type="date" name="dob" id="dob" required>
            </div>
            <div>
                <label for="gender">Gender</label>
                <select name="gender" id="gender" required>
                    <option value="0" selected></option>
                    <option value="F">Female</option>
                    <option value="M">Male</option>
                    <option value="O">Other</option>
                </select>
            </div>
            <div>
                <label for="age">Age</label>
                <input type="number" name="age" id="age" required>
            </div>
            <div>
                <label for="mobile">Mobile Number</label>
                <input type="number" name="mobile" id="mobile" required>
            </div>
            <div id='married_div'>
                <label for="married">Are you married?</label>
                <input type="checkbox" name="married" id="married">
            </div>
            <div>
                <label for="category">Category</label>
                <select name="category" id="category" required>
                    <option value="0" selected>Default</option>
                    <option value="SC">Schedule Caste</option>
                    <option value="ST">Schedule Tribe</option>
                    <option value="OBC">Other Backward Classes</option>
                    <option value="Min">Minorities</option>
                    <option value="other">Other</option>
                </select>
            </div>
            <div>
                <label for="caste">Caste</label>
                <input type="text" name="caste" value="">
            </div>
            <div>
                <label for="qualification">Qualification</label>
                <select name="qualification" id="qualification" required>
                    <option value="0" selected>Default</option>
                    <option value="S">Student</option>
                    <option value="UG">Under Graduate</option>
                    <option value="G">Graduate</option>
                    <option value="PG">Post Graduate</option>
                    <option value="P">Professional</option>
                    <option value="BM">Businessman</option>
                    <option value="O">Other</option>
                </select>
            </div>
            <div>
                <label for="pan_no">PAN/TAN</label>
                <input type="text" name="pan_no" value="" required>
            </div>
            <div>
                <label for="acc_no">Account Number</label>
                <input type="number" name="acc_no" id="acc_no" required>
            </div>
            <div>
                <label for="ifsc">IFSC</label>
                <input type="text" name="ifsc" id="ifsc" required>
            </div>
            <div>
                <label for="bank_name">Bank name</label>
                <input type="text" name="bank_name" id="bank_name">
            </div>
            <div>
                <label for="per_addr">Permanent Address</label>
                <textarea name="per_addr" id="per_addr" cols="30" rows="10" required></textarea>
            </div>
            <div>
                <label for="pincode">Pincode</label>
                <input type="number" name="pincode" id="pincode" required>
            </div>
        </div>
        <div>
            <div class="mis_heading">
                Job Details
            </div>
            <div>
                <label for="department">Department</label>
                <select name="department" id="department" required>
                    <option value="0" selected></option>
                    {% for d in departments %}
                    <option value="{{ d.name }}">{{ d.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div>
                <label for="doj">Date of joining in Department</label>
                <input type="date" name="doj" id="doj" required>
            </div>
            <div>
                <label for="post">Post</label>
                <input type="text" name="post" id="post" required>
            </div>
            <div>
                <label for="class">Class</label>
                <select name="class" id="class" required>
                    <option value="0" selected></option>
                    <option value="I">Class I</option>
                    <option value="II">CLass II</option>
                    <option value="III">Class III</option>
                    <option value="IV">Class IV</option>
                </select>
            </div>
            <div>
                <label for="promotion_date">Promotion Date</label>
                <input type="date" name="promotion_date" id="promotion_date">
            </div>
            <div>
                <label for="district">District</label>
                <select name="district" id="district" required>
                    <option value="0" selected></option>
                    {% for d in districts %}
                    <option value="{{ d.name }}">{{ d.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div>
                <label for="block">Block</label>
                <input type="text" name="block" id="block" required>
            </div>
            <div>
                <label for="postal_addr">Postal Address</label>
                <textarea name="postal_addr" id="postal_addr" cols="30" rows="10" required></textarea>
            </div>
        </div>
        <div>
            <button type="submit">Submit</button>
        </div>
    </form>
</section> {% endblock body %}