{% extends "base.html" %} {% load static %} {% block head %}
<title>Social Justice Legal Cell | Test</title>
<link rel="stylesheet" href="{% static 'css/rest.css' %}"> {% endblock head %} {% block body %}

<div class="gallery-container">

    <div id="gallery-heading">
        Activities test
    </div>
    <div id="gallery">
        {% for event in e %}
        <h1>date : {{ event }}</h1>
        <div class="gallery-images">
            {% for img in i %} {% ifequal img.event_date event %}
            <img src="{{ img.image.url }}" alt="" srcset=""> {% endifequal %} {% endfor %}
        </div>
        {% endfor %}
    </div>
    <div id="gallery-heading">
        Activities test
    </div>
    <div id="gallery">
        <h1>date : </h1>
        <div class="gallery-images">
            {{ e }}<br> {{ ti }}
        </div>
    </div>
</div>
{% endblock body %}